<div class="sidebar">
<div class="col3">
<h3>最新文章</h3><ul>
<{foreach from=$postnav item=v}>
<li><a href="<{spUrl c=main a=post pid=$v.pid}>"><{$v.title}></a></li>
<{/foreach}></ul>
</div>
<div class="col3">
<h3>最新评论</h3><ul>
<{foreach from=$commentsnav item=v}>
<li><a href="<{$v.website}>"><{$v.m_author}></a>：<{$v.content|strip_tags}></li>
<{/foreach}></ul>
</div>
<div class="col3">
<h3>文章分类</h3><ul>
<{foreach from=$categorynav item=v}>
<li><a href="<{spUrl c=main a=index cid=$v.cid}>"><{$v.name}></a></li>
<{/foreach}></ul>
</div>
<div class="col3">
<h3>文章标签</h3><ul>
<{foreach from=$tagnav item=v}>
<a style="font-size:<{if $v.count < 10}><{$v.count + 12}>px;<{else}>24px;<{/if}>" href="<{spUrl c=main a=index tag=$v.name}>"><{$v.name}></a> 
<{/foreach}>
</ul>
</div>
</div>