<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="public/css/admin.css" rel="stylesheet" media="screen">
</head>
<div class="box">
<div class="pull-left"><a id="go" rel="leanModal" href="<{spUrl c=post a=add}>" class="submit">撰写文章</a></div><br><br>
<table width="100%" class="table">
<tr>
<td class="time"><center><em>评论</em></center></td>
<td class="title"><em>文章标题</em></td>
<td class="time"><em>日期</em></td>
<td class="time"><em>动作</em></td>
</tr>
<{foreach from=$post item=value}>
<tr>
<td width="4%"><center><span style="color:#fff;background:#8B8386;padding-left:4px;padding-right:4px;border-radius:2px;"><{$value.m_count}></span></center></td>
<td><{$value.title}></td>
<td width="18%" class="time" title="<{$value.time|date_format:'%Y-%m-%d %k:%i'}>"><{$value.time|date_format:'%b %d,%Y'}></td>
<td width="8%" class="time"><a href="<{spUrl c=post a=modify pid=$value.pid}>">编辑</a> | <a href="<{spUrl c=post a=delete pid=$value.pid}>" onclick="if(confirm('确实要删除此条记录吗？')) return true;else return false;">删除</a></td>
</tr>
<{/foreach}>
</table>
<{if $pager}><br>
<{if $pager.current_page != $pager.first_page}>
<a href="<{spUrl c=post a=admin page=$pager.first_page}>">首页</a> |
<a href="<{spUrl c=post a=admin page=$pager.prev_page}>">上一页</a> |
<{/if}>
<{foreach from=$pager.all_pages item=thepage}>
<{if $thepage != $pager.current_page}>
 <a href="<{spUrl c=post a=admin page=$thepage}>"><{$thepage}></a>
<{else}>
<b><{$thepage}></b>
<{/if}>
<{/foreach}>              
<{if $pager.current_page != $pager.last_page}>
<a href="<{spUrl c=post a=admin page=$pager.next_page}>">下一页</a> |
<a href="<{spUrl c=post a=admin page=$pager.last_page}>">尾页</a>
<{/if}>
<{/if}>
</div>
</html>

