<html>
<head>
<title>管理员登陆</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="public/css/style.css" rel="stylesheet" media="screen">
</head>
<body style="background:#f1f1f1;">
<div class="full">
<center>
<div class="col3" style="float:center;"><br><br><br><br>
<form action="<{spUrl c=admin a=login}>" method="post" class="forms">
<input type="text" name="username" class="input-medium" placeholder="输入你的用户名……">
<input type="password" name="password" class="input-medium" placeholder="输入你的密码……" id="login-name">
<input type="submit" name="submit" value="立即登陆" class="btn"> <a href="<{spUrl c=main a=index}>">不是管理员，返回首页！</a>
</form>
</div>
</center>
</div>        
</body>
</html>