<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="public/css/style.css" rel="stylesheet" media="screen">
</head>
<body>
<center>
<h5>文章设置选项</h5>
<a href="<{spUrl c=post a=add}>" target="main">撰写文章</a> | 
<a href="<{spUrl c=post a=admin}>" target="main">管理文章</a><br>
<a href="<{spUrl c=category a=add}>" target="main">添加分类</a> | 
<a href="<{spUrl c=category a=admin}>" target="main">管理分类</a><br>
</center>
<!--post block-->
<center>
<h5>页面设置选项</h5>
<a href="<{spUrl c=page a=add}>" target="main">添加页面</a> | 
<a href="<{spUrl c=page a=admin}>" target="main">管理页面</a>
</center>
<!--page block-->
<center>
<h5>用户设置选项</h5>
<a href="<{spUrl c=main a=register}>" target="main">添加用户</a> | 
<a href="<{spUrl c=admin a=user}>" target="main">用户管理</a>
</center>
<center>
<h5>其他设置</h5>
<a href="<{spUrl c=category a=admin}>" target="main">评论管理</a> | 自定字段<br>
<a href="<{spUrl c=category a=admin}>" target="main">邮件设置</a> | 系统设置
</center>
<!--user block-->
</div>
</body>
</html>