<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="public/css/admin.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="box">
<div class="form-list">
<h1><span class="fui-settings-24"></span></h1>
<form action="<{spUrl c=setup a=index_update}>" method="post">
<h3>全局设置</h3>
<div class="row">
<label class="label"><em>*</em>网站标题：</label>
<input type="text" name="title" value="<{$title}>" placeholder="输入网站标题...">
</div>
<div class="row">
<label class="label"><em>*</em>网站描述：</label>
<input type="text" name="description" value="<{$description}>" placeholder="输入网站描述...">
</div>
<div class="row">
<label class="label"><em>*</em>网站关键词：</label>
<input type="text" name="keywords" value="<{$keywords}>" placeholder="输入网站关键词...">
</div>
<div class="row">
<label class="label">站长邮箱：</label>
<input type="text" name="mail" value="<{$email}>" placeholder="输入邮箱...">
</div>
<div class="row">
<label class="label">首页文章数：</label>
<input type="text" name="main_count" value="<{$main_count}>" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
</div>
<div class="row">
<label class="label">侧边栏文章数：</label>
<input type="text" name="siderbar_post" value="<{$siderbar_post}>" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
</div>
<div class="row">
<label class="label">侧边栏评论数：</label>
<input type="text" name="siderbar_comments" value="<{$siderbar_comments}>" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
</div>
<div class="row">
<label class="label">网站公告：</label>
<div class="collection">
<textarea class="textarea" name="n" rows="5" cols=""><{$announcement}></textarea>
</div>
</div>
<h3>评论设置</h3>
<div class="row">
<label class="label"><em>*</em>开启评论：</label>
<select id="com" name="com">
<{if $comments}>
<option value="true" selected>全站开启评论
<option value="false">全站关闭评论
<{else}>
<option value="true">全站开启评论
<option value="false" selected>全站关闭评论
<{/if}>
</select>
</div>
<div class="row">
<label class="label"><em>*</em>评论邮件通知：</label>
<select id="email" name="email">
<{if $comments_mail}>
<option value="true" selected>开启邮件通知
<option value="false">关闭邮件通知
<{else}>
<option value="true">开启邮件通知
<option value="false" selected>关闭邮件通知
<{/if}>
</select>
</div>
<div class="row">
<label class="label">Smtp服务器：</label>
<input type="text" name="smtpserver" value="<{$smtpserver}>" placeholder="输入网站关键词...">
</div>
<div class="row">
<label class="label">Smtp端口：</label>
<input type="text" name="smtpserverport" value="<{$smtpserverport}>" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
</div>
<div class="row">
<label class="label">Smtp用户：</label>
<input type="text" name="smtpuser" value="<{$smtpuser}>">
</div>
<div class="row">
<label class="label">Smtp密码：</label>
<input type="text" name="smtppass" value="<{$smtppass}>">
</div>
<div class="row">
<label class="label">内容评论数：</label>
<input type="text" name="post_comments" value="<{$post_comments}>" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
</div>
<div class="row">
<label class="label">评论间隔时间：</label>
<input type="text" name="post_time" value="<{$post_time}>" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
</div>
<h3>主题设置</h3>
<div class="row">
<label class="label"><em>*</em>自定义主题：</label>
<select name='skin'>
    <{html_options options=$skin selected=$skinname}>
</select>
</div><br>
<input type="submit" name="save" value="完成设置" class="submit">
</form>
</div>
</div>
</body>
</html>

