<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="public/css/style.css" rel="stylesheet" media="screen">
</head>
<style>
.nav {margin: 0;width: 98%}
</style>
<body>
<ul class="nav">
<li><a><{$title.name}>后台</a></li>
<div class="pull-right">
<li><a href="<{spUrl c=setup a=index}>" target="main">系统设置</a></li>
<li><a href="<{spUrl c=admin a=logout}>" target="_top">注销</a></li>
<li><a href="<{spUrl c=main a=index}>" target="_top">返回首页</a></li>
</div>
</ul>
</html>
