<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="public/css/admin.css" rel="stylesheet" media="screen">
<style>
.box {text-align: left;width: 725px;}
.input-block-level {width: 630px !important;}
em {color: red;}
</style>
</head>
<div class="box">
<!--form-->
<form action="<{spUrl c=page a=add}>" method="post">
<!--title-->
<div class="row">
<label class="label">页面标题：</label><input type="text" name="title" class="input-block-level" placeholder="请输入页面标题...">
</div><br>
<center><textarea name="content" rows="10" cols="800"></textarea></center><br>
<div class="row">
<label class="label"><em>*</em> </label>在页面中，可以添加一些特殊的标签来显示一些特殊的内容。详细标签内容请翻阅文档！
</div><br>
<input type="submit" name="c_submit" value="添加页面" class="submit">  
</form>
</div>
</html>